.footer {
  flex-shrink: 0;
  background-color: $nav-color;
  color: lighten($dark-color, 15%);
  padding-top: 1rem;
  margin-top: 200px;
  p {
    font-size: 0.8rem;
    text-align: center;
  }

  @media (min-width: $media-size) {
    .footer__copyright {
      text-align: right;
    }
    .footer__email-address {
      text-align: left;
    }
  }
}
